entryPoints:
  cf-tunnel:
    address: ":8443"
    http:
      tls:
        options: default
  lan-http:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: lan-https
          scheme: https
  lan-https:
    address: ":443"
    http:
      tls:
        options: default

providers:
  docker:
    endpoint: "ssh://docker-vm"
    exposedByDefault: false
    useBindPortIP: true
    watch: true
  file:
    directory: "{{ traefik_folder }}/conf.d/"
    watch: true

certificatesResolvers:
  cloudflare:
    acme:
      email: "{{ cf_email }}"
      storage: "{{ traefik_folder }}/acme.json"
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"

api:
  dashboard: true
  disableDashboardAd: true

log:
  filePath: "{{ traefik_folder }}/log/traefik.log"
  format: json
  level: INFO

accessLog:
  filePath: "{{ traefik_folder }}/log/traefik-access.log"
  format: json
  filters:
    statusCodes:
      - "200"
      - "400-599"
    retryAttempts: true
    minDuration: "10ms"
  bufferingSize: 0
  fields:
    headers:
      defaultMode: drop
      names:
        User-Agent: keep

