http:
  routers:
    traefik-dashboard:
      rule: Host(`traefik.{{ domain }}`)
      entryPoints: [ "lan-https" ]
      service: api@internal

  middlewares:
    cloudflarewarp:
      plugin:
        cloudflarewarp:
          disableDefault: true
          trustip:
            - "{{ cloudflared_address }}/32"


tls:
  options:
    default:
      minVersion: VersionTLS12
      sniStrict: true

  stores:
    default:
      defaultGeneratedCert:
        resolver: cloudflare
        domain:
          main: "{{ domain }}"
          sans:
            - "*.{{ domain }}"
