http:
  routers:
    proxmox-server:
      rule: Host(`proxmox-server.{{ domain }}`)
      entryPoints: [ "lan-https" ]
      service: proxmox-server

    proxmox-server-aliases:
      rule: HostRegexp(`pve1?(-?server)?\.{{ domain | regex_escape }}`)
      entryPoints: [ "lan-https" ]
      middlewares:
        - proxmox-server-alias-redirect
      service: noop@internal

    proxmox-router:
      rule: Host(`proxmox-router.{{ domain }}`)
      entryPoints: [ "lan-https" ]
      service: proxmox-router

    proxmox-router-aliases:
      rule: HostRegexp(`pve(2|-(router|topton))\.{{ domain | regex_escape }}`)
      entryPoints: [ "lan-https" ]
      middlewares:
        - proxmox-router-alias-redirect
      service: noop@internal

  middlewares:
    proxmox-server-alias-redirect:
      redirectRegex:
        regex: '{{ domain_regex }}'
        replacement: "https://proxmox-server.{{ domain }}$1"
        permanent: true

    proxmox-router-alias-redirect:
      redirectRegex:
        regex: '{{ domain_regex }}'
        replacement: "https://proxmox-router.{{ domain }}$1"
        permanent: true

  services:
    proxmox-server:
      loadBalancer:
        servers:
          - url: "https://{{ proxmox_server_address }}"
        serversTransport: proxmox-server-verify

    proxmox-router:
      loadBalancer:
        servers:
          - url: "https://{{ proxmox_router_address }}"
        serversTransport: proxmox-router-verify

  serversTransports:
    proxmox-server-verify:
      serverName: "pve-server.{{ domain }}"
    proxmox-router-verify:
      serverName: "pve-router.{{ domain }}"


